@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.bookshelf {
  margin-top: 1rem;
  background-color: rgb(240, 152, 37);

  &__book-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__book {
    width: 90%;
    margin-bottom: 1rem;
    background-image: url(../../assets/images/bookcover.png);
    background-size: fill;
    background-position: center;
    background-size: calc(125% - 30px);
    @include tablet {
      width: 30%;
      margin: 0 0.5rem 1rem 0.5rem;
    }
  }

  &__detail {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }

  &__txt--bold {
    font-weight: 600;
  }

  &__description-container {
    display: flex;
    position: relative;
  }

  &__txt {
    max-height: 1.5em;

    overflow: hidden;
    transition: max-height 0.5s ease;
    flex-grow: 1;
    margin-right: 10px;

    &.expanded {
      max-height: none;
    }
  }

  &__toggle {
    position: absolute;
    width: 30px;
    right: 0;
    bottom: 0;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0);
    color: green;
  }

  &__button-container {
    display: flex;
    justify-content: center;
  }
}
.bookshelf__finished-badge {
  animation: slideIn 0.5s ease forwards;
  color: red;
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(-50%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.bookshelf__link {
  text-decoration: none;
  color: white;

  &:hover {
    text-decoration: underline;
  }
}
.bookshelf__button {
  width: 30%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(98, 128, 0);
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: green;
  }
}
