.navigation {
  background-color: rgb(158, 108, 41);

  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__img-container,
  &__search-container,
  &__menu-container {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__link {
    width: 100%;
    height: 100%;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__search-input {
    width: 100%;
  }

  &__menu-container {
    position: relative;
  }

  &__menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    // width: 50%;
    background: antiquewhite;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    z-index: 10;

    &.open {
      display: block;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        padding: 0.5rem 0;
      }
    }
  }

  &__menu-icon {
    span {
      display: block;
      width: 2rem;
      height: 0.25rem;
      background: #333;
      margin-bottom: 0.2rem;
      border-radius: 10px;
      transition: all 0.3s linear;
      transform-origin: 1px;
    }
  }

  &__menu-button {
    &:focus {
      outline: none;
      background-color: antiquewhite;
    }

    &.open .navigation__menu-icon span {
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }
  &__modal {
    color: black;
  }
}
